.container{
    margin-bottom: 96px;
}
.carousel-inner{
    background-color: #facae8;
    border-radius: 15px;
    padding: 10px 25px;
}
.headline{
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.price{
    color: #800080
}
.buy-now-btn{
    color: white;
    background-image: linear-gradient(180deg, #ff589B,#ff136f);
    border-radius: 15px;
    padding: 5px 8px;
    cursor: pointer;
}
.img-1, .img-2, .img-3{
    color:white;
    padding: 10px 30px;
}
.img-1{
    background-image: linear-gradient(90deg, rgb(182, 120, 5), lightgreen);
    border-radius: 15px;
}
.img-2{
    background-image: linear-gradient(90deg, rgb(128, 68, 9), rgb(179, 111, 43));
    border-radius: 15px;
}
.img-3{
    background-image: linear-gradient(90deg, blue, rgb(34, 34, 175));
    border-radius: 15px;
}
.card img{
    width: 96px;
}
.card-title{
    font-weight: bold;
}
.card{
    border-style: none;
    box-shadow: 5px 5px 15px lightgreen;
}
.card-footer{
border: none;
justify-content: left;
}
.form-control{
    width: 200px;
}
#subscribe{
    background-color: #facae8;
    height: 300px;
    border-radius: 15px;
}
footer{
    text-align: center;
}
.container slides{
    margin-top: 20px;
    padding-top: none;
}