.slide-background-color{
    background-color: #facae8;
    border-radius: 20px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color:purple
}
.buy-now-btn{
    background-image: linear-gradient(180deg,#ff589B,#ff136f);
    color:white;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
}
.pbg-1{
    background-color: orange;
    border-radius: 10px;
}
.pbg-2{
    background-color: peru;
    border-radius: 10px;
}
.pbg-3{
    background-color: blue;
    border-radius: 10px;
}
.pbg-1, .pbg-2, .pbg-3{
    padding: 10px 30px;
    color:white;
}
.container-categories{
    margin: 106px;
}